:root {
  --primary-color: #1c8da3;
  --secondary-color: #f7f4e7;
  --box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  --bs-border-radius: 10px;
}

body {
  margin: 0;
}

h1 {
  font-size: 64px !important;
  font-family: 'Poppins', sans-serif !important;
  padding-bottom: 10px;
}

p {
  font-size: 22px;
}

.mt-5 {
  font-size: 18px;
}

.hero {
  padding-right: 30px;
}

.logo {
  margin-top: 70px;
  margin-left: 120px;
}

.logo-navbar {
  max-width: 150px;
  justify-content: flex-start;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.primary-link:hover {
  color: white;
}

.img-fluid {
  max-width: 60%;
  box-shadow: var(--box-shadow);
  margin-top: 100px;
}

footer {
  margin-top: 35px;
}

footer .social-media {
  font-size: 16px;
  padding: 0 10px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-media:hover {
  color: white;
  background-color: var(--primary-color);
}

.container {
  padding-top: 150px;
}

.culture img {
  padding-right: 55px;
}

.check-out {
  padding-bottom: 25px;
}

@media(max-width: 700px) {
  h1 {
    font-size: 55px;
    padding-left: 20px;
  }

  h2,
  h3 {
    padding-left: 20px;
  }

  p {
    font-size: 20px;
    padding: 0 20px;
    line-height: 1.5;
  }

  .logo-navbar {
    max-width: 100px;
    padding: 5px 0 0 0;
  }

  .container {
    padding-top: 150px;
    padding-bottom: 40px;
  }

  .container-footer {
    padding: 0 20px;
  }

  .mt-5 {
    padding: 0 20px;
  }

  footer {
    margin-top: 0;
  }

  footer .coded-by {
    font-size: 12px;
    padding-top: 3px;
  }

  footer .social-media {
    padding: 0 5px;
  }
}