:root {
  --primary-color: #1c8da3;
  --secondary-color: #f7f4e7;
  --box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  --bs-border-radius: 10px;
}

body {
  margin: 100px 0;
  background: var(--secondary-color);
}

h1 {
  font-size: 46px;
  color: var(--primary-color);
}

nav {
  background: linear-gradient(178deg, rgba(228, 246, 255, 0.51) 14.9%, rgb(163, 200, 216) 80%);
  font-weight: 600;
}

.navbar-nav {
  font-size: 18px;
  padding-top: 20px;
}

.nav-item {
  padding-left: 30px;
}

@media(max-width: 576px) {
  h1 {
    text-align: center;
  }
}